:root {
  --color-primary: hsla(209, 100%, 19%, 0.75);
  --color-primary-dark: rgba(0, 26, 51,0.95);
  --color-secondary: rgb(233, 146, 32);
  --color-white-1: rgb(250, 250, 250); }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Roboto Condensed", sans-serif;
  scroll-behavior: smooth;
  height: 100vh;
  scroll-snap-type: y mandatory; }
  @media only screen and (max-width: 37.5em) {
    html {
      overflow: hidden;
      scroll-snap-type: x mandatory; } }

body {
  scroll-snap-type: y mandatory; }
  @media only screen and (max-width: 37.5em) {
    body {
      display: grid;
      grid-template-rows: 100vh auto;
      grid-template-columns: repeat(4, 100vw);
      scroll-snap-type: x mandatory;
      height: 100vh;
      width: 100vw;
      background-color: black;
      overflow-y: hidden; } }

section {
  scroll-snap-align: end !important; }

a {
  text-decoration: none !important;
  color: inherit;
  cursor: pointer !important; }

@keyframes moveInRight {
  0% {
    transform: translateX(-300%); }
  50% {
    transform: translateX(-100%); }
  100% {
    transform: translateX(-30%); } }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(200rem); }
  50% {
    opacity: 0; }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes pulse {
  0% {
    opacity: 1; }
  50% {
    opacity: .5; }
  100% {
    opacity: 1; } }

@keyframes delayFade {
  0% {
    opacity: 0;
    /* transform: translate(0, 100px); */ }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.section-landing {
  scroll-snap-align: start; }
  .section-landing .landing {
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../img/black-white-metal-darkened.png);
    background-position: center;
    background-size: cover;
    transition: all .2s; }
    @media only screen and (max-width: 37.5em) {
      .section-landing .landing {
        grid-auto-flow: column;
        width: 101vw;
        height: 100vh; } }
    .section-landing .landing__shade {
      position: absolute;
      width: 100%;
      top: 0;
      left: 0;
      height: 102vh;
      transform: translateX(-30%);
      animation-name: moveInRight;
      animation-duration: 1s;
      animation-timing-function: ease-out;
      white-space: nowrap;
      overflow: hidden;
      will-change: transform; }
    .section-landing .landing__logo {
      width: 50%;
      position: relative;
      z-index: 99;
      animation-name: moveInLeft;
      animation-duration: 1.5s;
      animation-timing-function: ease-out;
      will-change: transform; }
    .section-landing .landing__services-box {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      transform: translateY(100%);
      animation-name: delayFade;
      animation-duration: 2.5s;
      animation-timing-function: ease-out;
      will-change: transform; }
      .section-landing .landing__services-box .services {
        text-transform: uppercase;
        font-family: 'Roboto', sans-serif;
        margin-bottom: 2rem;
        font-weight: 100;
        padding: .5rem 2rem; }
        .section-landing .landing__services-box .services-wedge {
          transition: all .2s; }
          .section-landing .landing__services-box .services-wedge:hover {
            transform: translateY(3px);
            animation-name: pulse;
            animation-iteration-count: infinite;
            animation-duration: 1s;
            animation-timing-function: ease-in-out; }
            @media only screen and (max-width: 37.5em) {
              .section-landing .landing__services-box .services-wedge:hover {
                transform: scale(0.35) rotate(-90deg); } }
          @media only screen and (max-width: 37.5em) {
            .section-landing .landing__services-box .services-wedge {
              transform: scale(0.35) rotate(-90deg); } }

.nav {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-content: center;
  opacity: 1; }
  .nav__logo {
    height: 10rem;
    margin: 2rem;
    cursor: pointer; }
    @media only screen and (max-height: 50em) {
      .nav__logo {
        height: 5rem; } }
    @media only screen and (max-width: 37.5em) {
      .nav__logo {
        position: fixed;
        display: inline-block !important;
        height: 4rem; } }
  .nav__link-container {
    display: flex;
    justify-self: right;
    justify-content: space-evenly;
    align-items: center;
    margin: 2rem; }
    @media only screen and (max-width: 50em) {
      .nav__link-container {
        margin: 0; } }
    @media only screen and (max-width: 43.75em) {
      .nav__link-container {
        justify-content: center; } }
    @media only screen and (max-width: 37.5em) {
      .nav__link-container {
        display: none; } }
  .nav__page-links {
    padding: 2rem;
    font-weight: 300; }
    @media only screen and (max-width: 75em) {
      .nav__page-links {
        padding: 1rem; } }
    .nav__page-links--active {
      transform: translateY(-2px) scale(1.1);
      font-weight: bold;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      transition: all .2s; }
      @media only screen and (max-width: 68.75em) {
        .nav__page-links--active {
          justify-content: flex-start; } }
      .nav__page-links--active:after {
        position: absolute;
        content: "";
        bottom: 1rem;
        height: 1px;
        width: 10rem;
        background-color: var(--color-secondary); }
        @media only screen and (max-width: 75em) {
          .nav__page-links--active:after {
            bottom: .5rem; } }

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh; }
  @media only screen and (max-width: 37.5em) {
    .main {
      grid-auto-flow: column;
      width: 100vw;
      height: 100%; } }
  .main__content-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 45%; }
    @media only screen and (max-width: 68.75em) {
      .main__content-box {
        width: 75%;
        height: 90%; } }
  .main__title {
    position: relative;
    margin-bottom: 2rem;
    align-self: flex-start; }
    .main__title:after {
      content: "";
      position: absolute;
      bottom: -1rem;
      left: 0;
      height: 2px;
      width: 30%;
      background-color: var(--color-secondary); }
  .main__content {
    margin-top: 1rem; }
    @media only screen and (max-width: 37.5em) {
      .main__content {
        margin-top: 0; } }

.bg-1 {
  background-image: linear-gradient(to right, var(--color-primary), var(--color-primary)), url(../img/server-panel.jpg);
  background-position: center;
  background-size: cover; }

.bg-2 {
  background-image: linear-gradient(to right, var(--color-primary), var(--color-primary)), url(../img/awsg.jpg);
  background-position: center;
  background-size: cover; }

.bg-3 {
  background-image: linear-gradient(to right, var(--color-primary), var(--color-primary)), url(../img/office.jpg);
  background-position: center;
  background-size: cover; }

.sec-1 {
  grid-column: 1 / 2;
  grid-row: 1 / 2; }

.sec-2 {
  grid-column: 2 / 3;
  grid-row: 1 / 2; }

.sec-3 {
  grid-column: 3 / 4;
  grid-row: 1 / 2; }

.sec-4 {
  grid-column: 4 / 5;
  grid-row: 1 / 2; }

.footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 5vh 4vw;
  transition: all .4s; }
  .footer__cta-2 {
    color: var(--color-secondary);
    transition: all .4s; }

.bottom-cta {
  background-color: var(--color-primary-dark);
  height: 22vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: end; }
  @media only screen and (max-width: 37.5em) {
    .bottom-cta {
      opacity: 0;
      height: 0vh; } }
  .bottom-cta .cta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .bottom-cta .cta__head {
      color: var(--color-white-1) !important;
      margin-bottom: 7%;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: centers; }
      .bottom-cta .cta__head:after {
        position: absolute;
        content: "";
        bottom: -.85rem;
        height: 1px;
        width: 10rem;
        background-color: var(--color-secondary); }
    .bottom-cta .cta__phone {
      display: flex; }
      .bottom-cta .cta__phone-icon {
        margin: 0 .5rem; }
    .bottom-cta .cta__email {
      display: flex;
      margin: 0 .5rem; }
      .bottom-cta .cta__email-icon {
        margin: 0 .5rem; }

.heading-primary {
  font-size: 5.5rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: var(--color-white-1); }
  @media only screen and (max-width: 56.25em) {
    .heading-primary {
      font-size: 3.5rem; } }
  @media only screen and (max-width: 37.5em) {
    .heading-primary {
      font-size: 3rem; } }

.title-2 {
  font-weight: 300; }

.text-white--small {
  font-size: 2rem;
  font-variant: small-caps;
  letter-spacing: 2px;
  color: var(--color-white-1); }
  @media only screen and (max-width: 75em) {
    .text-white--small {
      font-size: 1.5rem;
      letter-spacing: 1px; } }

.text-white--med {
  font-size: 2.5rem;
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
  color: var(--color-white-1); }
  @media only screen and (max-width: 56.25em) {
    .text-white--med {
      font-size: 2rem; } }
  @media only screen and (max-width: 37.5em) {
    .text-white--med {
      font-size: 1.75rem;
      line-height: 1.75rem; } }

.text-gold--small {
  font-size: 2rem;
  font-variant: small-caps;
  letter-spacing: 2px;
  color: var(--color-secondary); }

.text-gold--med {
  font-size: 3rem;
  font-variant: small-caps;
  letter-spacing: 3px;
  color: var(--color-secondary); }

#trigger-aws {
  transform: translateY(-30px); }

.mobile-icon-box {
  position: fixed;
  width: 100%;
  height: 12vh;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0; }
  @media only screen and (max-width: 37.5em) {
    .mobile-icon-box {
      opacity: 1; } }

.cta__icon-mobile {
  margin: 0 1.5rem;
  transition: all .2s; }
  .cta__icon-mobile:hover {
    transform: translateY(-1px); }
  .cta__icon-mobile:active {
    transform: translateY(2px); }
